.App {
  text-align: center;
}

.App-header {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bento-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  height: 90vh;
  margin: 20px auto;
}

.bento-item {
  background-color: #3e3e3e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
  color: #f0e68c;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bento-item:hover {
  background-color: #5e5e5e;
}

.bento-item.image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.bento-item.resume {
  grid-column: span 2;
  grid-row: span 2;
}

.bento-item.project1 {
  grid-column: span 1;
  grid-row: span 1;
}

.bento-item.project2 {
  grid-column: span 1;
  grid-row: span 1;
}

.bento-item.playing {
  grid-column: span 2;
  grid-row: span 1;
}

.resume-container {
  padding: 20px;
}